NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_NAMESPACE=public

NACOS_CLIENT_ENABLED=true
NACOS_REGISTER_ENABLED=true

SPRING_AI_DASHSCOPE_API_KEY=
SPRING_AI_DASHSCOPE_CHAT_MODEL=qwen-plus

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
